saremesb/src/main/app/saremapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd" version="EE-3.7.0">
    <http:listener-config name="saremapi-httpListenerConfig" host="0.0.0.0" port="8080" doc:name="HTTP Listener Configuration" />
    <apikit:config name="saremapi-config" raml="saremapi.raml" consoleEnabled="true" consolePath="console" doc:name="Router" />
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration" />
    <flow name="saremapi-main" initialState="started">
        <http:listener config-ref="saremapi-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="saremapi-config" doc:name="APIkit Router" />
        <exception-strategy ref="saremapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <apikit:mapping-exception-strategy name="saremapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="get:/personas:saremapi-config">
        <set-payload value="dale" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/personas/{paisID}/{personID}:saremapi-config">
        <logger message="PAISID #[paisID] PERSONID #[personID]" level="INFO" doc:name="Logger"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;&lt;authenticationRequest&gt;&lt;password&gt;admin&lt;/password&gt;&lt;username&gt;admin&lt;/username&gt;&lt;/authenticationRequest&gt;" mimeType="application/xml" doc:name="Autenticacion"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/openempi-webapp-web-2.2.9/openempi-ws-rest/security-resource/authenticate" method="PUT" parseResponse="false" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="openempi" value="#[payload]" doc:name="Variable"/>
        <component class="saremesb.transformers.transformPersonIdentifier" doc:name="Java"/>
        <logger message="OBJETO #[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/openempi-webapp-web-2.2.9/openempi-ws-rest/person-query-resource/findPersonById" method="POST" parseResponse="false" doc:name="HTTP GetPerson">
            <http:request-builder>
                <http:header headerName="OPENEMPI_SESSION_KEY" value="#[flowVars.openempi]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer mimeType="application/xml" doc:name="Byte Array to String"/>
    </flow>
</mule>
